@font-face {
  font-family: "LXGWWenKaiLite";
  src: url("../../assets/fonts/LXGWWenKaiLite-Regular.ttf") format("truetype");
  font-display: swap;
}

.text-lxgw-wenkai-lite {
  font-family: "LXGWWenKaiLite";
}
