@font-face {
  font-family: "LXGWNeoXiHei";
  src: url("https://cdn.jsdelivr.net/npm/@fontpkg/lxgw-neo-xi-hei@1.110.0/LXGWNeoXiHei.ttf") format("truetype");
  font-display: swap;
}

.text-lxgw-neo-xihei {
  font-family: "LXGWNeoXiHei";
}
