@font-face {
  font-family: "SourceHanSansCN";
  src: url("https://cdn.jsdelivr.net/gh/magiclen/source-han-sans-cn-woff2@1c674efa5f4bc2c8370b413272d90733680a27d8/SourceHanSansCN-Regular.woff2") format("woff2");
  font-display: swap;
}

.text-source-han-sans {
  font-family: "SourceHanSansCN";
}
