@font-face {
  font-family: "SourceHanSerifCN";
  src: url("https://cdn.jsdelivr.net/gh/jdh8/source-han-serif@713106c031098072f9f571641cebf5ff7996fb78/SourceHanSerifCN-Regular.woff2") format("woff2");
  font-display: swap;
}

.text-source-han-serif {
  font-family: "SourceHanSerifCN";
}
