@font-face {
  font-family: "SourceHanSansCN";
  src: url("../../assets/fonts/SourceHanSansCN-Regular.otf") format("opentype");
  font-display: swap;
}

.text-source-han-sans {
  font-family: "SourceHanSansCN";
}
