@font-face {
  font-family: "SourceHanSerifCN";
  src: url("../../assets/fonts/SourceHanSerifCN-Regular.otf") format("opentype");
  font-display: swap;
}

.text-source-han-serif {
  font-family: "SourceHanSerifCN";
}
